<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

   <section>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="container text-center">            <img style="height: 200px;width: 200px;" class="my_profile_picture" src="" th:src="@{'/img/'+${user.imageUrl}}" alt="profile photo">
                    <h1 class="text-center text-secondary font-italic mt-3">Start adding your loved ones contacts</h1>
            </div>
            <a th:href="@{/user/add_contact}" class="btn btn-primary mt-4 btn-block text-uppercase" >Add new contact</a>
        </div>
    </div>
    <script>
        $(document).ready(()=>{
            $(".item").removeClass("active");
            $("#home-link").addClass("active");

        });
    </script>
   </section>
    
</body>
</html>